<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="row">
        <div id="spinner-container" class="spinner-container">
            <div id="spinner" class="spinner-border text-warning" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        <div class="col-3 row  ">
            <div class="col-10 sidebar pt-5">
                <button type="button" onclick="redirectTosetting()" class="col-12 btn btn-primary">Settings</button>
                <button type="button" onclick="redirectToInstructions()" class="col-12 mt-2 btn btn-primary">Instructions Set</button>
                <button type="button" onclick="redirectToInstructionsTheme()" class="col-12 mt-2 btn btn-primary ">Instruction Theme</button>
                <button type="button" class=" col-12 btn btn-success mt-2">Ouputs</button>
                <div class=" pt-3 mb-2 col-12" id="outputTextarea_div" name="outputTextarea_div" >
                    <label class="form-control input-disabled border border-dark-subtle rounded-3 pt-1" disabled  id="outputTextarea" name="outputTextarea" ></label>
                </div>
                <div class="mb-2 me-2">
                    <div class="d-flex justify-content-center mb-2 me-2">
                        <button type="button" id="copyButton" class="btn btn-primary p-2 px-3">Copy Answers</button>
                    </div>
                    <div class="d-flex justify-content-center mb-2 me-2">
                        <button type="button" id="copyInstructionAndAnswerButton" class="btn btn-primary p-1 px-3">Copy Instruction and Answers</button>
                    </div>
                    <div class="d-flex justify-content-center mb-2 me-2">
                        <button type="button" id="clearButton" class="btn btn-danger p-2 px-3">Clear All data</button>
                    </div>
                    <div id="copyMessage" class="text-center text-success mt-2" style="display: none;">Text copied</div>
    
                </div>
                
            </div>
            <!-- <div class="col-10 sidebar pt-5">
                <button type="button" id="settingButton" onclick="redirectTosetting()" class="col-12 btn btn-primary">Settings</button>
            </div> -->
            <div class="col-2 gap-colour"></div>
        </div>
        <div class="col-9 main-content pt-4 pe-4">

            <div class="d-flex flex-row-reverse  mb-2 me-2">
                <button type="button" class="btn btn-danger p-2 px-3" onclick="logout()">Logout</button>
            </div>
           <form
           id="promptForm"
           enctype="multipart/form-data"
           method="POST"
           action="" >
           {% csrf_token %}
            <div class="d-flex grid gap-1 p-2 gap-colour">
                <div class="col-4 d-flex grid ">
                    <div class="col-6 pe-1">
                        <label for="floatingInputValue">Voice</label>
                        <br>
                        <select 
                        id="voice_type" name="voice_type"
                        class="form-select mt-2" aria-label="Default select example">
                            <option  value="I">I</option>
                            <option selected value="You">You</option>
                            <option value="We">We</option>
                        </select>
                    </div>
                        <div class="col-6 pe-1">
                            <div >
                                <label for="floatingInputValue">Length</label>
                                <br>
                                <input required class="width_100_percent mt-2 form-control" min="1" value="80" type="number" id="paragraph_limit" name="paragraph_limit"/>
                            </div>
                        </div>
                </div>
                <div class="col-2">
                    <label for="floatingInputValue">Temperature</label>
                    <br>
                    <input required class="width_100_percent mt-2 form-control" value="0.3" type="number" id="temperature" name="temperature" min="0" step="0.1" oninput="validateTemperatureNegativeValue(this)"/>

                </div>
                <div class="col-2" id="presence_penalty_div" name="presence_penalty_div">
                    <label for="floatingInputValue">Presence Penalty</label>
                    <br>
                    <input required class="width_100_percent mt-2 form-control" value="0" type="number" id="presence_penalty" name="presence_penalty"/>

                </div>
                <div class="col-2"  id="frequency_penalty_div" name="frequency_penalty_div">
                    <label for="floatingInputValue">Frequency Penalty</label>
                    <br>
                    <input required class="width_100_percent mt-2 form-control" value="0" type="number" id="frequency_penalty" name="frequency_penalty" />

                </div>
                
                <div class="col-2 d-flex grid gap-1">
                    <div>
                        <label for="floatingInputValue">Model</label>
                        <br>
                        <select
                        id="model" name="model"
                         class="form-select mt-2" aria-label="Default select example">
                            <option selected value="Claude">Claude</option>
                            <option value="OpenAI">OpenAI</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- <div class="d-flex grid gap-1 p-2 ">
                <div class="col-2 ">
                    <select 
                        id="instruction_set" name="instruction_set"
                        class="form-select mt-2 p-1 text-white bg-success d-flex rounded-2 custom_style_instructins" aria-label="Default select example">
                        {% for instruction in instructions_set %} 
                            <option id="instruction_name_{{ forloop.counter0 }}" name="instruction_name_{{ forloop.counter0 }}" value="{{ instruction.name }}" data-index="{{ forloop.counter0 }}">
                                {{ instruction.name }}
                            </option>
                        {% endfor %}
                    </select>

                    {% for instruction in instructions_set %} 
                        <input type="hidden" id="instructionA_{{ forloop.counter0 }}" name="instructionA_{{ forloop.counter0 }}" value="{{ instruction.instructionA }}"/>
                        <input type="hidden" id="instructionB_{{ forloop.counter0 }}" name="instructionB_{{ forloop.counter0 }}" value="{{ instruction.instructionB }}"/>
                        <input type="hidden" id="instructionC_{{ forloop.counter0 }}" name="instructionC_{{ forloop.counter0 }}" value="{{ instruction.instructionC }}"/>
                    {% endfor %}
                </div>
                <div class="col-2 ">
                    <button id="instructionA_button" type="button" class="p-1 custom_style_instructins  btn btn-primary mt-2 rounded-2  px-3">Instruction A</button>
                </div>
                <div class="col-2 ">
                    <button id="instructionB_button" type="button" class="p-1 custom_style_instructins  btn btn-primary mt-2 rounded-2  px-3">Instruction B</button>
                </div>
                <div class="col-2 ">
                    <button id="instructionC_button" type="button" class="p-1 custom_style_instructins  btn btn-primary mt-2 rounded-2  px-3">Instruction C</button>
                </div>
                
            </div> -->
            <!-- new instructions layout -->

            <div class="row mb-2 m-2">
                <div class="col-12">
                    <span class="system-prompt-label cursor-pointer">System Prompt</span>
                </div>
            </div>

            <div class="container">
                <!-- Dropdown for Instruction Sets -->
                <div class="row mb-2">
                    <div class="col-3">
                        <select id="system_instruction_set" name="system_instruction_set" class="form-select mt-2 text-white bg-success rounded-2 select_custom_style_instructins" aria-label="Default select example">
                            {% for instruction_set in instructions_set %}
                                <option value="{{ instruction_set.id }}">{{ instruction_set.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
        
                <!-- Hidden field to hold instructions data -->
                <!-- <input type="hidden" id="instructions_data" value='{{ instructions_data}}' /> -->
        
                <!-- Container for displaying instructions -->
                <div id="system_instructions_container" class="row">
                    <!-- Instructions will be dynamically added here -->
                </div>
            </div>
            <!-- new instuctions layout ends here -->
            <div class="">
                <div class="form-floating pt-2 mb-2 me-2">
                    <textarea
                    id="system_prompt_text" name="system_prompt_text"
                     class="border border-dark-subtle rounded-3 form-control mt-3" id="system_floatingTextarea2" style="height: 150px"></textarea>
                  </div>
                <!-- <div class="d-flex flex-row-reverse  mb-2 me-2">
                    <button type="submit" class="btn btn-primary p-2 px-3">Submit</button>
                </div> -->
                <input type="hidden" id="system_prompt_text_saved" name="system_prompt_text_saved" value=""/>
            </div>
            <!-- starting transition prompt -->

            <div class="row mb-2 m-2">
                <div class="col-12">
                    <span class="system-prompt-label cursor-pointer">Transitions Prompt</span>
                </div>
            </div>

            <div class="container">
                <!-- Dropdown for Instruction Sets -->
                <div class="row mb-2">
                    <div class="col-3">
                        <select id="transition_instruction_theme" name="transition_instruction_theme" class="form-select mt-2  text-white bg-success rounded-2 select_custom_style_instructins" aria-label="Default select example">
                            {% for instruction_theme in instructions_theme %}
                                <option value="{{ instruction_theme.id }}">{{ instruction_theme.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
        
                <!-- Hidden field to hold instructions data -->
                <!-- <input type="hidden" id="instructions_data" value='{{ instructions_data}}' /> -->
        
                <!-- Container for displaying instructions -->
                <div id="transition_instructions_theme" class="row">
                    <!-- Instructions will be dynamically added here -->
                </div>
            </div>
            <!-- new instuctions layout ends here -->
            <div class="">
                <div class="form-floating pt-2 mb-2 me-2">
                    <textarea
                    id="transition_prompt_text" name="transition_prompt_text"
                     class="border border-dark-subtle rounded-3 form-control mt-3" id="system_floatingTextarea2" style="height: 150px"></textarea>
                  </div>
                <!-- <div class="d-flex flex-row-reverse  mb-2 me-2">
                    <button type="submit" class="btn btn-primary p-2 px-3">Submit</button>
                </div> -->
                <input type="hidden" id="transition_prompt_text_saved" name="transition_prompt_text_saved" value=""/>
            </div>
            <!-- ending transition prompt -->
            <!-- below user prompt part -->
            <div class="row mb-2 m-3">
                <div class="col-12">
                    <span class="system-prompt-label cursor-pointer">User Prompt</span>
                </div>
            </div>

            <div class="container">
                <!-- Dropdown for Instruction Sets -->
                <div class="row mb-2">
                    <div class="col-3 ">
                        <select id="instruction_set" name="instruction_set" class="form-select mt-2  text-white bg-success rounded-2 select_custom_style_instructins" aria-label="Default select example">
                            {% for instruction_set in instructions_set %}
                                <option value="{{ instruction_set.id }}">{{ instruction_set.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
        
                <!-- Hidden field to hold instructions data -->
                <input type="hidden" id="instructions_data" value='{{ instructions_data}}' /> 
                <input type="hidden" id="instructions_data_theme" value='{{ instructions_data_theme}}' /> 
                <!-- Container for displaying instructions -->
                <div id="instructions_container" class="row">
                    <!-- Instructions will be dynamically added here -->
                </div>
            </div>
            <div class="form-floating pt-2 mb-2 me-2">
                <textarea
                id="prompt_text" name="prompt_text"
                 required class="border border-dark-subtle rounded-3 form-control mt-3" id="floatingTextarea2" style="height: 150px"></textarea>
              </div>
            <!-- new instuctions layout ends here -->
            <div class="">
                  <div id="openai_error_message" class="text-danger form-floating pt-2 mb-2 me-2 bold_text " style="display: none;">OpenAI API Key is not properly saved</div>
                  <div id="claude_error_message" class="text-danger form-floating pt-2 mb-2 me-2 bold_text " style="display: none;">Claude API Key is not properly saved</div>
                  <div id="required_prompt_error" class="text-danger form-floating pt-2 mb-2 me-2 bold_text " style="display: none;">Prompt can not be empty</div>

                <div class="d-flex flex-row-reverse  mb-2 me-2">
                    <button type="submit" class="btn btn-primary p-2 px-3">Submit</button>
                </div>
                <input type="hidden" id="prompt_text_saved" name="prompt_text_saved" value=""/>
            </div>

            <!-- below user prompt ends here -->
            
            
           </form>
            
           <div class="d-flex flex-row  mb-2 me-4">
                <p  class="h3">Select Output</p>
            </div>
            <div class="d-flex grid gap-2 me-2">
                <div class=" col-4">
                        <textarea id="variant_1_textarea" name="variant_1_textarea" disabled class="textarea border border-dark-subtle rounded-3 input-disabled p-3"></textarea>
                        <div class="d-flex justify-content-center">
                            <button id="variant_1" name="variant_1" class="button-center width_50 mt-n25">1</button>
                        </div>
                </div>
                <div class=" col-4">
                    <textarea id="variant_2_textarea" name="variant_2_textarea" disabled class="textarea border border-dark-subtle rounded-3 input-disabled"></textarea>
                    <div class="d-flex justify-content-center">
                        <button id="variant_2" name="variant_2" class="button-center width_50 mt-n25">2</button>
                    </div>
            </div>
            <div class=" col-4">
                <textarea id="variant_3_textarea" name="variant_3_textarea" disabled class="textarea border border-dark-subtle rounded-3 input-disabled"></textarea>
                <div class="d-flex justify-content-center">
                    <button id="variant_3" name="variant_3" class="button-center width_50 mt-n25">3</button>
                </div>
            </div>
            </div>
            
            <div class="d-flex flex-row-reverse  mb-2 me-2 mt-5 ">
                <svg xmlns="http://www.w3.org/2000/svg" id="reload_icon" name="reload_icon" onclick="reloadPage()" width="25" height="25" fill="#007BFF" class=" cursor-pointer bi bi-arrow-clockwise " viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                  </svg>
            </div>

            <!-- spacer div -->
            <div class="spacer"></div>
           
        </div>
    </div> 
    <input type="hidden" value="{{ memory_array }}" id="memoryData"/>
   


    

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- <script id="memoryData" type="application/json">
    {{ memory_array|json_script:"memory-data" }}
</script> -->

<script>
const promptForm = document.getElementById("promptForm");

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');

const outputTextarea = document.getElementById('outputTextarea');
const reload_icon = document.getElementById('reload_icon');
var Instruction_A_check = false
var Instruction_B_check = false
var Instruction_C_check = false

promptForm.addEventListener('submit', function(event) {
    event.preventDefault();
    submitFormFunction();
});

function submitFormFunction(){

document.getElementById("spinner-container").style.display = "flex"; // Display as flex to center vertically and horizontally
// Get references to the checkboxes
const voice_type = document.getElementById('voice_type').value;
const temperature = document.getElementById('temperature').value;
const presence_penalty = document.getElementById('presence_penalty').value;
const frequency_penalty = document.getElementById('frequency_penalty').value;
const model = document.getElementById("model").value; 
const paragraph_limit = document.getElementById('paragraph_limit').value; 
const prompt_text = document.getElementById("prompt_text").value;
const prompt_text_saved = document.getElementById('prompt_text_saved'); 
const system_prompt_text = document.getElementById("system_prompt_text").value;
const transition_prompt_text = document.getElementById("transition_prompt_text").value;
const system_prompt_text_saved = document.getElementById('system_prompt_text_saved'); 
const variant_1_textarea = document.getElementById("variant_1_textarea");
const variant_1 = document.getElementById("variant_1");
const variant_2_textarea = document.getElementById("variant_2_textarea");
const variant_2 = document.getElementById("variant_2");
const variant_3_textarea = document.getElementById("variant_3_textarea");
const variant_3 = document.getElementById("variant_3");
prompt_text_saved.value = prompt_text;// const limit = 50;
prompt_text+= "\n"+transition_prompt_text;
console.log("prompt_text: ", prompt_text)
Instruction_A_check = false  
Instruction_B_check = false  
Instruction_C_check = false  


const data = {
    voice_type: voice_type,
    temperature: temperature,
    presence_penalty: presence_penalty,
    frequency_penalty: frequency_penalty,
    model: model,
    prompt_text:prompt_text,
    system_prompt:system_prompt_text,
    limit : paragraph_limit
};
// Send an AJAX request to the server
fetch(`/queryPromptText`, {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
    },
    body: JSON.stringify(data),
})
.then((response) => response.json())
.then((data) => {
    if (data.result) {
        displayVariants(data.variants);
    } else {
        document.getElementById("spinner-container").style.display = "none"; 
        if(model === "Claude"){
        document.getElementById('claude_error_message').style.display = 'block'; // Hide error message if key is valid
        }
        else{
            document.getElementById('openai_error_message').style.display = 'block'; // Hide error message if key is valid
        }
         // const error_is = data.error
        // alert(" error occured: ", error_is)
    }
})
.catch((error) => {
    console.error("Error in :", error);
});


}

function displayVariants(variants) {
    const variant_1_textarea = document.getElementById("variant_1_textarea");
    const variant_2_textarea = document.getElementById("variant_2_textarea");
    const variant_3_textarea = document.getElementById("variant_3_textarea");

    if (variants.length > 0) {
        variant_1_textarea.value = variants[0].trim();
    }
    if (variants.length > 1) {
        variant_2_textarea.value = variants[1].trim();
    }
    if (variants.length > 2) {
        variant_3_textarea.value = variants[2].trim();
    }
    document.getElementById("spinner-container").style.display = "none";
}

document.getElementById('variant_1').addEventListener('click', function() {
    // document.getElementById('outputTextarea').value = variant_1_textarea.value;
    if(variant_1_textarea.value ){
        if (Instruction_A_check == false){
            updateMemory(variant_1_textarea.value);
            Instruction_A_check = true
            Instruction_B_check = false
            Instruction_C_check = false

        }
    }
});

document.getElementById('variant_2').addEventListener('click', function() {
    // document.getElementById('outputTextarea').value = variant_2_textarea.value;
    if(variant_2_textarea.value){
        if (Instruction_B_check == false){
            updateMemory(variant_2_textarea.value);
            Instruction_B_check = true 
            Instruction_A_check = false
            Instruction_C_check = false 
        }
    }
});

document.getElementById('variant_3').addEventListener('click', function() {
    // document.getElementById('outputTextarea').value = variant_3_textarea.value;
    if(variant_3_textarea.value){
        if (Instruction_C_check == false){
            console.log("inside C")
            updateMemory(variant_3_textarea.value);
            Instruction_C_check = true  
            Instruction_A_check = false
            Instruction_B_check = false
        }
    
    }});

document.getElementById('clearButton').addEventListener('click', function() {
    // document.getElementById('outputTextarea').value = variant_3_textarea.value;
    clearMemory();
});

function updateMemory(variant) {
    const temp_instruction = document.getElementById('prompt_text_saved').value;
    const memory_new = {
        instruction: temp_instruction,
        answer: variant
    };

    fetch('/updateMemory', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken  // Include the CSRF token in the headers
        },
        body: JSON.stringify({ 'memory': memory_new }),
    })
    .then((response) => response.json())
    .then((data) => {
        if (data.result) {
        const memory_array = data.memory;
        const memory_json = data.memory_json
        // Clear previous memory textareas
        
        updateOutputTextareaDiv(memory_array);
        const memoryDataElement = document.getElementById("memoryData");
        memoryDataElement.value = memory_json
        
        } else {
            console.log("This is false result message");
        }
    })
    .catch((error) => {
        console.error("Error updating memory:", error);
    });
}


async  function clearMemory() {
            try {
                const response = await  fetch('/clear_memory/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken') // Add CSRF token for security
                    },
                });
                const result =await   response.json();
                if (response.ok) {
                    console.log('Memory cleared:', result);
                    location.reload();
                } else {
                    console.error('Error clearing memory:', result.error);
                }
            } catch (error) {
                console.error('Network error:', error);
            }
        }

    function updateOutputTextareaDiv(memory_array) {
    const outputTextareaDiv = document.getElementById("outputTextarea_div");
    outputTextareaDiv.innerHTML = "";

    // Create a new label for each memory item
    memory_array.forEach((memoryItem, index) => {
        const newLabel = document.createElement("p");
        newLabel.className = "form-control border border-dark-subtle rounded-3 pt-1";
        newLabel.style.display = "block";
        newLabel.style.height = "auto";
        newLabel.style.whiteSpace = "pre-wrap"; // Preserve whitespace and line breaks
        newLabel.style.padding = "6px 12px"; // Match input field's padding
        newLabel.style.boxSizing = "border-box"; // Ensure padding and border are included in the height and width
        newLabel.innerText = memoryItem.answer.trim();
        newLabel.id = "outputTextarea_" + index;

        // Adjust height based on content
        // adjustLabelHeight(newLabel);

        // Create a form-floating div to wrap the new label
        const formFloatingDiv = document.createElement("div");
        formFloatingDiv.className = "form-floating mb-2";
        formFloatingDiv.style.height = "auto";

        formFloatingDiv.appendChild(newLabel);
        outputTextareaDiv.appendChild(formFloatingDiv);
    });
}

// // Function to adjust the height of the label based on its content
// function adjustLabelHeight(label) {
//     label.style.height = 'auto';
//     const scrollHeight = label.scrollHeight;
//     label.style.height = scrollHeight + 'px';
// }


function redirectTosetting() {
        const url = "{% url 'promptapp:setting_page' %}";
        window.location.href = url;
    }


// Convert Django memory_array to JSON string and parse it
document.addEventListener('DOMContentLoaded', function() {
            const memoryDataElement = document.getElementById('memoryData');

            
            const memoryArray = JSON.parse(memoryDataElement.value);
            if (memoryArray && memoryArray.length > 0) {
                updateOutputTextareaDiv(memoryArray);
            }
        });

function reloadPage() {
    // Reload the page
    // location.reload();
    const promptText = document.getElementById('prompt_text').value;

    if (promptText == ""){
    document.getElementById('required_prompt_error').style.display = 'block'; // Hide error message if key is valid
    }
    else{
    submitFormFunction();
    }
}


document.getElementById("copyButton").addEventListener('click', function() {
            // Get the hidden input element
            const memoryDataElement = document.getElementById('memoryData');
            
            // Get the value of the hidden input element (contains JSON-formatted memory_array)
            const memoryArrayString = memoryDataElement.value;
            console.log("memoryData is : ",memoryArrayString );

            try {
                // Parse the JSON-formatted string into a JavaScript array
                const memoryArray = JSON.parse(memoryArrayString);
                // Initialize a variable to store the concatenated text
                let concatenatedText = '';

                // Iterate over each item in the memoryArray
                memoryArray.forEach(function(item) {
                    // Concatenate the text from each item
                    concatenatedText += (item.answer) + '\n\n'; // Add a newline after each item
                });
                
            console.log("concatenatedText is : ",concatenatedText );

                // Copy the concatenated text to the clipboard
                // navigator.clipboard.writeText(concatenatedText)
                //     .then(() => {
                //         // Clipboard successfully copied
                //         const copyMessage = document.getElementById('copyMessage');
                //         copyMessage.style.display = 'block';
                //         // Hide the message after 4 seconds
                //         setTimeout(() => {
                //                 copyMessage.style.display = 'none';
                //             }, 5000);
                //     })
                //     .catch((error) => {
                //         // Unable to copy to clipboard
                //         console.error('Error copying text to clipboard:', error);
                //     });
            // Copy the concatenated text to the clipboard using the fallback method
         copyTextToClipboard(concatenatedText);

                } catch (error) {
                console.error("Error parsing memory array:", error);
            }
        });


        
document.getElementById("copyInstructionAndAnswerButton").addEventListener('click', function() {
            // Get the hidden input element
            const memoryDataElement = document.getElementById('memoryData');
            
            // Get the value of the hidden input element (contains JSON-formatted memory_array)
            const memoryArrayString = memoryDataElement.value;
            
            console.log("memoryData is : ",memoryArrayString );

            try {
                // Parse the JSON-formatted string into a JavaScript array
                const memoryArray = JSON.parse(memoryArrayString);
                
                // Initialize a variable to store the concatenated text
                let concatenatedText = '';

                // Iterate over each item in the memoryArray
                memoryArray.forEach(function(item, index) {
                    // Concatenate the text from each item
                    concatenatedText += "Instruction_"+(index+1)+" : "+(item.instruction) + '\n';
                    concatenatedText += "Answer_"+(index+1)+" : "+(item.answer) + '\n\n'; // Add a newline after each item
                });

                console.log("concatenatedText is : ",concatenatedText );
                // Copy the concatenated text to the clipboard
                // navigator.clipboard.writeText(concatenatedText)
                //     .then(() => {
                //         // Clipboard successfully copied
                //         const copyMessage = document.getElementById('copyMessage');
                //         copyMessage.style.display = 'block';
                //         // Hide the message after 4 seconds
                //         setTimeout(() => {
                //                 copyMessage.style.display = 'none';
                //             }, 5000);
                //     })
                //     .catch((error) => {
                //         // Unable to copy to clipboard
                //         console.error('Error copying text to clipboard:', error);
                //     });
                 // Copy the concatenated text to the clipboard using the fallback method
            copyTextToClipboard(concatenatedText);
            } catch (error) {
                console.error("Error parsing memory array:", error);
            }
        });


function copyTextToClipboard(text) {
    // Create a temporary <textarea> element
    const textArea = document.createElement('textarea');
    textArea.value = text;
    document.body.appendChild(textArea);
    
    // Select the text in the <textarea>
    textArea.select();
    textArea.setSelectionRange(0, 99999); // For mobile devices

    // Copy the text to the clipboard
    try {
        document.execCommand('copy');
        console.log('Text copied to clipboard');
        
        // Show the copy message
        const copyMessage = document.getElementById('copyMessage');
        copyMessage.style.display = 'block';
        
        // Hide the message after 4 seconds
        setTimeout(() => {
            copyMessage.style.display = 'none';
        }, 5000);
    } catch (err) {
        console.error('Failed to copy text:', err);
    }

    // Remove the temporary <textarea> element
    document.body.removeChild(textArea);
}


document.getElementById("model").addEventListener("change", function() {
  var model = this.value;
  var presencePenalty = document.getElementById("presence_penalty");
  var frequencyPenalty = document.getElementById("frequency_penalty");
  var presence_penalty_div = document.getElementById("presence_penalty_div");
  var frequency_penalty_div = document.getElementById("frequency_penalty_div");

  if (model === "Claude") {
    presence_penalty_div.style.display = "none";
    frequency_penalty_div.style.display = "none";
    presencePenalty.removeAttribute("required");
    frequencyPenalty.removeAttribute("required");
  } else if (model === "OpenAI") {
    presence_penalty_div.style.display = "block";
    frequency_penalty_div.style.display = "block";
    presencePenalty.setAttribute("required", "required");
    frequencyPenalty.setAttribute("required", "required");
  }
});

// Initialize visibility based on default selection
document.getElementById("model").dispatchEvent(new Event("change"));

function validateNegativeValue(input) {
  if (input.value < 0) {
    input.value = 0;
  }
}

function validateTemperatureNegativeValue(input) {
  if (input.value < 0) {
    input.value = 0.3;
  }
}

function redirectToInstructions() {
        const url = "{% url 'promptapp:instructions_set' %}";
        window.location.href = url;
    }
function redirectToInstructionsTheme() {
    const url = "{% url 'promptapp:instructions_theme' %}";
    window.location.href = url;
}


document.addEventListener('DOMContentLoaded', function () {
    const instructionAButton = document.getElementById('instructionA_button');
    const instructionBButton = document.getElementById('instructionB_button');
    const instructionCButton = document.getElementById('instructionC_button');
    const promptText = document.getElementById('prompt_text');
    const instruction_set = document.getElementById('instruction_set');

    function copyInstruction(instructionType) {
        const selectedOption = instruction_set.options[instruction_set.selectedIndex];
        
        const index = selectedOption.getAttribute('data-index');
        const check= `instruction${instructionType}_${index}`;
        const instructionValue = document.getElementById(`instruction${instructionType}_${index}`).value;
        promptText.value = instructionValue;
    }

    // instructionAButton.addEventListener('click', function () {
    //     copyInstruction('A');
    // });

    // instructionBButton.addEventListener('click', function () {
    //     copyInstruction('B');
    // });

    // instructionCButton.addEventListener('click', function () {
    //     copyInstruction('C');
    // });
});

// set height of outputTextArea according to content
function autoResize(textarea) {
    if(textarea){
    textarea.style.height = 'auto';
    textarea.style.height = Math.max(textarea.scrollHeight, 100) + 'px'; // Set the height to the maximum of scrollHeight and the minimum height (200px in this case)
    }
}


$(document).ready(function() {
        function loadInstructions(setId) {
            var instructionsData = JSON.parse($('#instructions_data').val());
            var selectedInstructions = instructionsData.find(set => set.set_id == setId).instructions;

            var instructionsContainer = $('#instructions_container');
            instructionsContainer.empty();  // Clear previous instructions

            if (selectedInstructions.length > 0) {
                var row;
                $.each(selectedInstructions, function(index, instruction) {
                    if (index % 6 === 0) {
                        row = $('<div class="row mb-2"></div>');
                        instructionsContainer.append(row);
                    }
                    var instructionButton = `
                        <div class="col-lg-2 col-md-2 col-sm-4 col-6 mb-2">
                            <button id="instruction_button_${instruction.id}" name="new_instruction_row_name_${instruction.id}" type="button" class="btn btn-primary mt-2 custom_style_instructins rounded-2 p-1 w-100" data-id="${instruction.id}">
                                ${instruction.name}
                            </button>
                        </div>
                    `;
                    row.append(instructionButton);
                });
            }
        }

        function systemLoadInstructions(setId) {
            var instructionsData = JSON.parse($('#instructions_data').val());
            var selectedInstructions = instructionsData.find(set => set.set_id == setId).instructions;

            var instructionsContainer = $('#system_instructions_container');
            instructionsContainer.empty();  // Clear previous instructions

            if (selectedInstructions.length > 0) {
                var row;
                $.each(selectedInstructions, function(index, instruction) {
                    if (index % 6 === 0) {
                        row = $('<div class="row mb-2"></div>');
                        instructionsContainer.append(row);
                    }
                    var instructionButton = `
                        <div class="col-lg-2 col-md-2 col-sm-4 col-6 mb-2">
                            <button id="system_instruction_button_${instruction.id}" name="system_new_instruction_row_name_${instruction.id}" type="button" class="btn btn-primary mt-2 custom_style_instructins rounded-2 p-1 w-100" data-id="${instruction.id}">
                                ${instruction.name}
                            </button>
                        </div>
                    `;
                    row.append(instructionButton);
                });
            }
        }

        // ending system load instructions
        
        
        function transitionLoadInstructionsTheme(setId) {
            var instructionsData = JSON.parse($('#instructions_data_theme').val());
            console.log("instructionsData: ", instructionsData)
            var selectedInstructions = instructionsData.find(set => set.set_id == setId).instructions;

            var instructionsContainer = $('#transition_instructions_theme');
            instructionsContainer.empty();  // Clear previous instructions

            if (selectedInstructions.length > 0) {
                var row;
                $.each(selectedInstructions, function(index, instruction) {
                    if (index % 6 === 0) {
                        row = $('<div class="row mb-2"></div>');
                        instructionsContainer.append(row);
                    }
                    var instructionButton = `
                        <div class="col-lg-2 col-md-2 col-sm-4 col-6 mb-2">
                            <button id="transition_instruction_button_${instruction.id}" name="transition_new_instruction_row_name_${instruction.id}" type="button" class="btn btn-primary mt-2 custom_style_instructins rounded-2 p-1 w-100" data-id="${instruction.id}">
                                ${instruction.name}
                            </button>
                        </div>
                    `;
                    row.append(instructionButton);
                });
            }
        }
         
    // Load instructions for the first instruction set on page load
        var firstSetId = $('#instruction_set').val();
        loadInstructions(firstSetId);

        var firstSetId = $('#system_instruction_set').val();
        systemLoadInstructions(firstSetId);

        var firstThemeID = $('#transition_instruction_theme').val();
        transitionLoadInstructionsTheme(firstThemeID);

        // Load instructions when an instruction set is selected from the dropdown
        $('#instruction_set').change(function() {
            var selectedSetId = $(this).val();
            loadInstructions(selectedSetId);
        });

        $('#system_instruction_set').change(function() {
            var selectedSetId = $(this).val();
            systemLoadInstructions(selectedSetId);
        });

        $('#transition_instruction_theme').change(function() {
        console.log("on click transition select")
        var selectedSetId = $(this).val();
        transitionLoadInstructionsTheme(selectedSetId);
    });
            
        });

        
$(document).on("click", "[id^='instruction_button_']", function(){
        var id = $(this).attr('id'); // Get the ID of the clicked element
        var instructionId = id.split('_')[2];
        console.log("0 instructionId : ", instructionId)
        // var instructionId = $(this).data('id');
        // console.log(" 0 : ")
        displayInstructionText(instructionId);
                
            });

$(document).on("click", "[id^='system_instruction_button_']", function(){
        var id = $(this).attr('id'); // Get the ID of the clicked element
        var instructionId = id.split('_')[3];
        console.log("0 instructionId : ", instructionId)
        // var instructionId = $(this).data('id');
        // console.log(" 0 : ")
        systemDisplayInstructionText(instructionId);
                
            });

$(document).on("click", "[id^='transition_instruction_button_']", function(){
        var id = $(this).attr('id'); // Get the ID of the clicked element
        var instructionId = id.split('_')[3];
        console.log("0 instructionId : ", instructionId)
        // var instructionId = $(this).data('id');
        // console.log(" 0 : ")
        transitionDisplayInstructionText(instructionId);
                
            });

    function displayInstructionText(instructionId) {
        
        console.log("1 instructionId: ", instructionId)
        var instructionsData = JSON.parse($('#instructions_data').val());
        console.log("2 instructionsData: ", instructionsData)

        for (var i = 0; i < instructionsData.length; i++) {
            var instructionSet = instructionsData[i];
            console.log("instructionSet: ", instructionSet)
            var instruction = instructionSet.instructions.find(instr => instr.id == instructionId);
            if (instruction) {
                $('#prompt_text').val(instruction.text);
                break;
            }
        }
    }

    function systemDisplayInstructionText(instructionId) {
        
        console.log("1 instructionId: ", instructionId)
        var instructionsData = JSON.parse($('#instructions_data').val());
        console.log("2 instructionsData: ", instructionsData)

        for (var i = 0; i < instructionsData.length; i++) {
            var instructionSet = instructionsData[i];
            console.log("instructionSet: ", instructionSet)
            var instruction = instructionSet.instructions.find(instr => instr.id == instructionId);
            if (instruction) {
                $('#system_prompt_text').val(instruction.text);
                break;
            }
        }
    }
    
    function transitionDisplayInstructionText(instructionId) {
        
        console.log("1 instructionId: ", instructionId)
        var instructionsData = JSON.parse($('#instructions_data_theme').val());
        console.log("2 instructionsData: ", instructionsData)

        for (var i = 0; i < instructionsData.length; i++) {
            var instructionSet = instructionsData[i];
            console.log("instructionSet: ", instructionSet)
            var instruction = instructionSet.instructions.find(instr => instr.id == instructionId);
            if (instruction) {
                $('#transition_prompt_text').val(instruction.text);
                break;
            }
        }
    }

   
function logout() {
    fetch("/myauth/logout/", {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrftoken,
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({})
    })
    .then(response => {
        if (response.ok) {
            window.location.href = "{% url 'myauth:loginPage' %}";
        } else {
            alert('Logout failed. Please try again.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('An error occurred. Please try again.');
    });
}
   
</script>
</body>
</html>