{% extends 'new_base_2.html' %} 
{% load static %}
{% block head %}

<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}" /> -->

{% endblock %}

{% block content %}
<div class="main_container">
    <div class="login_container">
        <div class="login_section">
            <div class="coustomer_form login_cous">
                <h2>Forgot Password</h2>
                    <!-- <form method="POST" action="{% url 'myauth:check_user' %}" class="login_cous"> -->
                        <!-- {% csrf_token %} -->
                            <p></p>
                            <!-- <h2>Login</h2> -->
                            <label for="">Email:</label>
                            <input type="email" name="email" id="email"
                            placeholder="Email" class="width_50" required>

                            <span id="email_error_message" style="color: red;"></span>
                           
                        <button type="submit cursor_pointer" 
                                name="forgotPasswordBtn"
                                id="forgotPasswordBtn"
                                onclick="check_user()"
                                class="width_20"
                                value="Login">Send Link</button>
                    <!-- </form> -->
                    
                </div>

        </div>
       
    
    </div>

    <!-- ------------------header----------------- -->
    
    <div id="popup3" class="overlay">
        <div class="popupmain">
            <div class="order_done">

                <p>Forgot Password !</p>
                <a id="popup3_close_icon" class="jclose cursor_pointer" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                        viewBox="0 0 25 25" fill="none">
                        <g clip-path="url(#clip0_517_27)">
                            <path
                                d="M12.5 0.703125C5.97656 0.703125 0.703125 5.97656 0.703125 12.5C0.703125 19.0234 5.97656 24.3359 12.5 24.3359C19.0234 24.3359 24.3359 19.0234 24.3359 12.5C24.3359 5.97656 19.0234 0.703125 12.5 0.703125ZM12.5 22.5781C6.95313 22.5781 2.46094 18.0469 2.46094 12.5C2.46094 6.95313 6.95313 2.46094 12.5 2.46094C18.0469 2.46094 22.5781 6.99219 22.5781 12.5391C22.5781 18.0469 18.0469 22.5781 12.5 22.5781Z"
                                fill="#FAE100" />
                            <path
                                d="M16.0937 8.86719C15.7422 8.51562 15.1953 8.51562 14.8438 8.86719L12.5 11.25L10.1172 8.86719C9.76562 8.51562 9.21875 8.51562 8.86719 8.86719C8.51562 9.21875 8.51562 9.76562 8.86719 10.1172L11.25 12.5L8.86719 14.8828C8.51562 15.2344 8.51562 15.7812 8.86719 16.1328C9.02344 16.2891 9.25781 16.4062 9.49219 16.4062C9.72656 16.4062 9.96094 16.3281 10.1172 16.1328L12.5 13.75L14.8828 16.1328C15.0391 16.2891 15.2734 16.4062 15.5078 16.4062C15.7422 16.4062 15.9766 16.3281 16.1328 16.1328C16.4844 15.7812 16.4844 15.2344 16.1328 14.8828L13.75 12.5L16.1328 10.1172C16.4453 9.76562 16.4453 9.21875 16.0937 8.86719Z"
                                fill="#FAE100" />
                        </g>
                        <defs>
                            <clipPath id="clip0_517_27">
                                <rect width="25" height="25" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </a>
                <svg id="popup3_svg" name="popup3_svg" xmlns="http://www.w3.org/2000/svg" width="64" height="64"
                    viewBox="0 0 58 58" fill="none">
                    <path
                        d="M32.1996 29L56.5996 4.59998C57.4996 3.69998 57.4996 2.29998 56.5996 1.39998C55.6996 0.499976 54.2996 0.499976 53.3996 1.39998L28.9996 25.8L4.59961 1.39998C3.69961 0.499976 2.29961 0.499976 1.39961 1.39998C0.499609 2.29998 0.499609 3.69998 1.39961 4.59998L25.7996 29L1.39961 53.4C0.499609 54.3 0.499609 55.7 1.39961 56.6C1.79961 57 2.39961 57.3 2.99961 57.3C3.59961 57.3 4.19961 57.1 4.59961 56.6L28.9996 32.2L53.3996 56.6C53.7996 57 54.3996 57.3 54.9996 57.3C55.5996 57.3 56.1996 57.1 56.5996 56.6C57.4996 55.7 57.4996 54.3 56.5996 53.4L32.1996 29Z"
                        fill="#FF0000" />
                </svg>
                <p  id="popup3_message" name="popup3_message"> Password Change link sending Failed .</p>
                <svg id="popup2_svg" name="popup2_svg" xmlns="http://www.w3.org/2000/svg" width="64" height="64"
                    viewBox="0 0 64 64" fill="none" style="display: none;">
                    <path
                        d="M60.5998 13.4C59.6998 12.5 58.2998 12.5 57.3998 13.4L23.3998 46.4L6.59977 29.9C5.69977 29 4.29977 29.1 3.39977 29.9C2.49977 30.8 2.59977 32.2 3.39977 33.1L21.0998 50.3C21.6998 50.9 22.4998 51.2 23.3998 51.2C24.2998 51.2 24.9998 50.9 25.6998 50.3L60.5998 16.4C61.4998 15.7 61.4998 14.3 60.5998 13.4Z"
                        fill="#52FF00" />
                </svg>
                <p  id="popup2_message" name="popup2_message" style="display: none;"> Password Change link sent to your Email.</p>
            </div>
        </div>
    </div>

<!-- 
    <div id="popup2" class="overlay">
        <div class="popupmain">
            <div class="order_done">

                <p>Forgot Password !</p>
                <a id="popup2_close_icon" class="jclose_t cursor_pointer" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                        viewBox="0 0 25 25" fill="none">
                        <g clip-path="url(#clip0_517_27)">
                            <path
                                d="M12.5 0.703125C5.97656 0.703125 0.703125 5.97656 0.703125 12.5C0.703125 19.0234 5.97656 24.3359 12.5 24.3359C19.0234 24.3359 24.3359 19.0234 24.3359 12.5C24.3359 5.97656 19.0234 0.703125 12.5 0.703125ZM12.5 22.5781C6.95313 22.5781 2.46094 18.0469 2.46094 12.5C2.46094 6.95313 6.95313 2.46094 12.5 2.46094C18.0469 2.46094 22.5781 6.99219 22.5781 12.5391C22.5781 18.0469 18.0469 22.5781 12.5 22.5781Z"
                                fill="#FAE100" />
                            <path
                                d="M16.0937 8.86719C15.7422 8.51562 15.1953 8.51562 14.8438 8.86719L12.5 11.25L10.1172 8.86719C9.76562 8.51562 9.21875 8.51562 8.86719 8.86719C8.51562 9.21875 8.51562 9.76562 8.86719 10.1172L11.25 12.5L8.86719 14.8828C8.51562 15.2344 8.51562 15.7812 8.86719 16.1328C9.02344 16.2891 9.25781 16.4062 9.49219 16.4062C9.72656 16.4062 9.96094 16.3281 10.1172 16.1328L12.5 13.75L14.8828 16.1328C15.0391 16.2891 15.2734 16.4062 15.5078 16.4062C15.7422 16.4062 15.9766 16.3281 16.1328 16.1328C16.4844 15.7812 16.4844 15.2344 16.1328 14.8828L13.75 12.5L16.1328 10.1172C16.4453 9.76562 16.4453 9.21875 16.0937 8.86719Z"
                                fill="#FAE100" />
                        </g>
                        <defs>
                            <clipPath id="clip0_517_27">
                                <rect width="25" height="25" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"
                    viewBox="0 0 64 64" fill="none">
                    <path
                        d="M60.5998 13.4C59.6998 12.5 58.2998 12.5 57.3998 13.4L23.3998 46.4L6.59977 29.9C5.69977 29 4.29977 29.1 3.39977 29.9C2.49977 30.8 2.59977 32.2 3.39977 33.1L21.0998 50.3C21.6998 50.9 22.4998 51.2 23.3998 51.2C24.2998 51.2 24.9998 50.9 25.6998 50.3L60.5998 16.4C61.4998 15.7 61.4998 14.3 60.5998 13.4Z"
                        fill="#52FF00" />
                </svg>
                <p  id="popup2_message" name="popup2_message"> Password Change link sent to your Email.</p>
            </div>
        </div>
    </div> -->

    <!-- //main div ends below -->
</div>
        

        

{% endblock %}

{% block js %}

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
//    const popup2_close_icon =document.getElementById("popup2_close_icon");
//     const popup_2 =document.getElementById("popup2");
//     const popup2_message =document.getElementById("popup2_message");

    const popup3_close_icon =document.getElementById("popup3_close_icon");
    const popup_3 =document.getElementById("popup3");
    const popup3_message =document.getElementById("popup3_message");
    const popup2_message =document.getElementById("popup2_message");
    const popup3_svg =document.getElementById("popup3_svg");
    const popup2_svg =document.getElementById("popup2_svg");


  function check_user(){
    const email_error_message=document.getElementById("email_error_message");
   
    const popup3_close_icon =document.getElementById("popup3_close_icon");
    const popup_3 =document.getElementById("popup3");
    const popup3_message =document.getElementById("popup3_message");
    const popup2_message =document.getElementById("popup2_message");
    const popup3_svg =document.getElementById("popup3_svg");
    const popup2_svg =document.getElementById("popup2_svg");

    const email_txt=document.getElementById("email").value;
    console.log("email is :")
    console.log(email_txt)

    var data={
        email:email_txt
    };
    fetch('/myauth/check_user/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCSRFToken(), // Include CSRF token if required
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
        console.log("data is")
        console.log(data.success)
        if (data && data.success === "True") {
            popup_3.style.visibility = "visible";
            popup_3.style.opacity = 1;
            popup_3.style.top = 0; 
            popup3_message.style.display = 'none';
            popup2_message.style.display = 'block';
            popup3_svg.style.display = 'none';
            popup2_svg.style.display = 'block';
        } 
        else if (data && data.success === "None") {
            popup_3.style.visibility = "visible";
            popup_3.style.opacity = 1;
            popup_3.style.top = 0; 
            popup3_message.style.display = 'block';
            popup2_message.style.display = 'none';
            popup3_svg.style.display = 'block';
            popup2_svg.style.display = 'none';
            popup3_message.innerText="User doesn't exist. Enter correct email." 
        } 
        else {
            popup_3.style.visibility = "visible";
            popup_3.style.opacity = 1;
            popup_3.style.top = 0; 
            popup3_message.style.display = 'block';
            popup2_message.style.display = 'none';
            popup3_svg.style.display = 'block';
            popup2_svg.style.display = 'none';
        }
    })
    .catch(error => {
        popup_3.style.visibility = "visible";
        popup_3.style.opacity = 1;
        popup_3.style.top = 0;
        console.error('Error:', error);
    });

  
  }

  
 

    popup3_close_icon.addEventListener("click", function(event) {
        event.preventDefault();
            
        popup_3.style.visibility = "hidden";
        popup_3.style.opacity = 0;
        popup_3.style.top = -100;    // console.log("in if")

        });


    function getCSRFToken() {
    // Retrieve the CSRF token from your page
            return "{{csrf_token}}";
        }


</script>
    
{% endblock %}